In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cities.csv')

In [3]:
df.head()

,city,cloudiness,date,humidity,latitude,longitude,maximum_temperature,wind_speed
0,chokurdakh,99,1562871333,93,70.62,147.90,56.19,13.65
1,yellowknife,90,1562871343,63,62.45,-114.38,60.80,4.70
2,peleduy,0,1562871505,73,59.63,112.75,62.49,3.13
3,ciudad real,0,1562871506,13,38.99,-3.93,98.60,3.36
4,praya,20,1562871506,100,-8.71,116.27,69.80,10.00

In [4]:
df.to_html('cities.html')